* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-sections {
    width: 100%;
    display: flex;
    padding: 1em;
}

form {
    width: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    gap: 0.5em;
    margin: 0 auto;
}

input {
    font-family: system-ui, sans-serif;
    margin: 1px;
}

fieldset {
    width: 100%;
    padding: 1em;
    border: 2px solid #A1A1A1;
}

ol {
    padding: 0 2em;
}

.card-list {
    list-style: none;
    padding: 0 2.5em;
}

.blue-field,
.blue-field legend {
    background-color: #2574A9;
}

.purple-field,
.purple-field legend {
    background-color: #9A12B3;
}

.pink-field,
.pink-field legend {
    background-color: #DB0A5B;
}

form input[type="submit"] {
    display: flex;
    flex-wrap: wrap;
    color: #4C4C4C;
    padding: 0.1em 0.25em;
    border-radius: 0;
    border: 0.5px solid #B4B4B4;
}